h3 {
	color: lightblue;
	background-color: lightseagreen;
	display: inline;
}

li {
	list-style: none;
	color: tomato;
	display: inline;

}
a {
	text-decoration: none;
}

body {
	color: lightblue;
	background-color: salmon;
}